<div class="picker__group">
  <div class="picker__label">{{ 'eisenhower.createTask.project' | translate }}</div>
  <div class="picker__wrapper">
    <select [ngModel]="projectRef()" (ngModelChange)="projectRef.set($event)" name="projectRef" (change)="onProjectSelect()">
      @for (opt of projectSelectOptions(); track opt.value || 'none') {
        <option [value]="opt.value">{{ opt.label }}</option>
      }
    </select>
  </div>

  @if (projectRef() === '__new__') {
    <div class="picker__inline-create">
      <div class="picker__icons">
        @for (icon of icons; track icon) {
          <button
            type="button"
            class="picker__icon"
            [class.picker__icon--selected]="chosenIcon() === icon"
            (click)="chosenIcon.set(icon)"
          >{{ icon }}</button>
        }
      </div>
      <input
        [ngModel]="projectName()"
        (ngModelChange)="projectName.set($event)"
        name="projectName"
        type="text"
        [placeholder]="'eisenhower.createTask.projectName' | translate"
        (keydown.enter)="$event.preventDefault(); submitNewProject()"
      />
      @if (showInlineCreateButtons()) {
        <button type="button" class="picker__inline-create-submit" (click)="submitNewProject()">
          {{ 'eisenhower.createTask.save' | translate }}
        </button>
      }
    </div>
  }
</div>

<div class="picker__group">
  <div class="picker__label">{{ 'eisenhower.createTask.milestone' | translate }}</div>
  @if (showMilestones()) {
    <div class="picker__wrapper">
      <select [ngModel]="milestoneRef()" (ngModelChange)="milestoneRef.set($event)" name="milestoneRef" (change)="onMilestoneSelect()">
        @for (opt of milestoneOptions(); track opt.value || 'none') {
          <option [value]="opt.value">{{ opt.label }}</option>
        }
      </select>
    </div>
    @if (milestoneRef() === '__new__') {
      <div class="picker__inline-create">
        <input
          [ngModel]="milestoneName()"
          (ngModelChange)="milestoneName.set($event)"
          name="milestoneName"
          type="text"
          [placeholder]="'eisenhower.createTask.milestoneName' | translate"
          (keydown.enter)="$event.preventDefault(); submitNewMilestone()"
        />
        @if (showInlineCreateButtons()) {
          <button type="button" class="picker__inline-create-submit" (click)="submitNewMilestone()">
            {{ 'eisenhower.createTask.save' | translate }}
          </button>
        }
      </div>
    }
  } @else {
    <p class="picker__hint">{{ 'eisenhower.createTask.pickerProjectHint' | translate }}</p>
  }
</div>
