<div class="free-tasks">
  <div class="free-tasks__header">
    <button type="button" class="free-tasks__toggle" (click)="expanded.set(!expanded())">
      <span class="free-tasks__chevron" [class.free-tasks__chevron--open]="expanded()" aria-hidden="true">▸</span>
      <span class="free-tasks__icon" aria-hidden="true">📥</span>
      <span class="free-tasks__name">{{ 'planningLab.freeTasks' | translate }}</span>
    </button>
    <app-quadrant-count-badges class="free-tasks__badges" [counts]="counts()" />
    <div class="free-tasks__actions-spacer" aria-hidden="true"></div>
  </div>

  @if (expanded()) {
    <div class="free-tasks__body">
      @if (!tasks().length) {
        <p class="free-tasks__empty">{{ 'projects.noUnassigned' | translate }}</p>
      } @else {
        <ul class="free-tasks__list">
          @for (todo of tasks(); track todo.id) {
            <li class="free-task">
              @if (editingTaskId() === todo.id) {
              <app-inline-task-editor [todo]="todo" (done)="cancelTaskEdit()" />
              } @else {
                <div class="free-task__main">
                  <input type="checkbox" [checked]="todo.done" (change)="todos.toggleDone(todo.id)" />
                  <span class="free-task__title">{{ todo.title }}</span>
                  <button
                    type="button"
                    class="free-task__edit"
                    [attr.aria-label]="'projects.edit' | translate"
                    [title]="'projects.edit' | translate"
                    (click)="startTaskEdit(todo)"
                  >
                    ✎
                  </button>
                </div>
                <div class="free-task__meta">
                  <app-task-badges [todo]="todo" [showTags]="true" />
                </div>
              }
            </li>
          }
        </ul>
      }

      <div class="free-tasks__footer">
        <button type="button" (click)="addingTask.set(!addingTask())">{{ 'projects.addTask' | translate }}</button>
      </div>
      @if (addingTask()) {
        <app-todo-form />
      }
    </div>
  }
</div>
